<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link" href="/createtrip"> Create Trip </a>    
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"> Upcoming Trips </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"> Past Trips </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/account"> Account </a>
  </li>
</ul>

 
  <h2> Account details </h2>

USERNAME:
EMAIL:
FIRST NAME:
LAST NAME:
PAYMENT INFO:

