<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link" href="/createtrip"> Create Trip </a>    
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"> Upcoming Trips </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"> Past Trips </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/signin"> Account </a>
  </li>
</ul>

<h3> ACTIVITIES </h3>
<div>What is the name of the activity?</div>
<div>What is the activity date?</div>
<div>How much does the activity cost?</div>
<div>Would you like to add another activity?</div>
<br>
