<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" href="/homepage"> Home </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/createtrip"> Create Trip </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="logoutbtn" href="/"> Log out </a>
  </li>
</ul>


<br>
<form>
<br>
<h2> Activities </h2>
<br>
<div>What is the name of the activity?</div> <input type="text" id="activity">
<div>What is the activity date?</div>
<div class="controls">
        <input type="date" id="activity-date" class="floatLabel" name="arrive" asp-format="{0:yyyy-MM-dd}" />
        <label for="arrive" class="label-date"><i class="fa fa-calendar"></i>&nbsp;&nbsp;</label>
      </div>  
<div>How much does the activity cost?</div> <input type="text" id="activity-cost">

<div class="dropdown">
  <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Would you like to add another activity?
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" id="confirm">Yes</a>
    <a class="dropdown-item" id="deny">No</a>
  </div>

<br>
<br>

<div class="d-grid gap-2 d-md-block">
  <button class="btn btn-primary" id="add-to-trip-btn" type="button"> Add to trip </button>
</div>
<br>

</form>



<script src="/assets/logout.js"></script>
<script src="/assets/activity.js"></script>