<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" href="/createtrip"> Create Trip </a>    
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"> Upcoming Trips </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"> Past Trips </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/logout"> Log out </a>
  </li>
</ul>

<form class="createform">
 
<div class="header"> Create a Trip </div>
<br>
<h2> Trip Name </h2> <input type="text" class="text" id="trip-name">


<h2> Flight </h2>
<div>Which airline will you be taking?</div> <input type="text" class="text" id="airline">
<div>What day is your flight?</div>
<div class="controls">
        <input type="date" id="flight-date" class="floatLabel" name="arrive" asp-format="{0:yyyy-MM-dd}" />
        <label for="arrive" class="label-date"><i class="fa fa-calendar"></i>&nbsp;&nbsp;</label>
      </div>    
      
<div>What time is your flight?</div> <input type="text" id="flight-time">
<div>What is your seat number?</div> <input type="text" id="seat-number">
<div>How much is the cost of your flight?</div> <input type="text" id="flight-cost">

<h2> Hotel </h2>
<div>Which hotel will you be staying at?</div> <input type="text" id="hotel">
<div>What is the check in date?</div> 
<div class="controls">
        <input type="date" id="checkin-date" class="floatLabel" name="arrive" asp-format="{0:yyyy-MM-dd}" />
        <label for="arrive" class="label-date"><i class="fa fa-calendar"></i>&nbsp;&nbsp;</label>
      </div>      
<div>What is the check out date?</div>
<div class="controls">
        <input type="date" id="checkout-date" class="floatLabel" name="arrive" asp-format="{0:yyyy-MM-dd}" />
        <label for="arrive" class="label-date"><i class="fa fa-calendar"></i>&nbsp;&nbsp;</label>
      </div>    
<div>What is the reserved room number?</div> <input type="text" id="room-number">
<div>How much is the room bill?</div> <input type="text" id="room-bill">
<br>
<br>

<div class="d-grid gap-2 d-md-block">
  <button class="btn btn-primary" id="create-trip-btn" type="button"> Create Trip </button>
</div>
<br>

<div class="dropdown show">
  <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Add to trip form </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="/activity">Activity</a>
    <a class="dropdown-item" href="/restaurant">Restaurant</a>
    <a class="dropdown-item" href="/transportation">Transportation</a>
  </div>
</div>


</form>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script src="/assets/createForm.js"></script>