<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" href="/createtrip"> Create Trip </a>    
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"> Upcoming Trips </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"> Past Trips </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/logout"> Log out </a>
  </li>
</ul>

 
  <div class="header"> Sign out </div>
  
<form>
<div class="d-grid gap-2 d-md-block">
  <button class="btn btn-primary" id="logoutbtn" type="button"> Click here to log out </button>
</div>
</form>

<script src="/assets/logout.js"></script>