<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" href="/createtrip"> Create Trip </a>    
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"> Upcoming Trips </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"> Past Trips </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/logout"> Log out </a>
  </li>
</ul>

 
  <h2> Log out </h2>

  
<button id="logoutbtn"> Click here to log out </button>



<script src="/assets/logout.js"></script>