<h1> CREATE ACCOUNT </h1>

<form>

<p> First name: </p> <input type="text" id="first-name">

<p> Last name: </p> <input type="text" id="last-name">

<p> Email: </p> <input type="text" id="email">

<p> Username: </p> <input type="text" id="username">

<p> Password: </p> <input type="text" id="password">

<p> Confirm password: </p> <input type="text" id="confirmpass">

<br>
<br> 

<button id="signupbtn"> CREATE NEW ACCOUNT </button>

<br>
<br> 

<button id="signinbtn"> LOG IN </button>

</form>



<script src="/assets/index.js"></script>
