<h1> CREATE ACCOUNT </h1>

<form>

<p> First name: </p> <input type="text" name="fname">

<p> Last name: </p> <input type="text" name="lname">

<p> Email: </p> <input type="text" name="email">

<p> Username: </p> <input type="text" name="username">

<p> Password: </p> <input type="text" name="password">

<p> Confirm password: </p> <input type="text" name="cpassword">

</form>

<br>
<br> 


<button> <a href="/views/homepage.handlebars"> CREATE NEW ACCOUNT </a> </button>


<br>
<br> 

<button> <a href="/views/signin.handlebars"> LOG IN </a> </button>

