<h1> CREATE ACCOUNT </h1>

<form>

<div> First name: </div> <input type="text" id="first-name">
<br>
<br>
<div> Last name: </div> <input type="text" id="last-name">
<br>
<br>
<div> Email: </div> <input type="text" id="email">
<br>
<br>
<div> Username: </div> <input type="text" id="username">
<br>
<br>
<div> Password: </div> <input type="text" id="password">
<br>
<br>
<div> Confirm password: </div> <input type="text" id="confirmpass">

<br>
<br> 

<button id="signupbtn"> CREATE NEW ACCOUNT </button>

<br>

</form>

<button id="signinbtn"> LOG IN </button>

<script src="/assets/signup.js"></script>
