<div class="box">
	<form>
		<span class="text-center"> Sign up </span>
  
<div class="input-container">
<label> First name </label> <br> <input type="firstname" id="first-name">

<div class="input-container">
<label> Last name </label> <br> <input type="lastname" id="last-name">

  
<div class="input-container">
<label> Email </label> <br> <input type="email" id="email">
<br>
  
<div class="input-container">
<label> Username </label> <br> <input type="username" id="username">
<br>
  
<div class="input-container">
<label> Password </label> <br> <input type="password" id="password">
<br>
  
<div class="input-container">
<label> Confirm password </label> <br> <input type="password" id="confirmpass">

<button id="signupbtn"> Create new account </button>

</form>
<br>
<button id="signinbtn"> Log in </button>

<script src="/assets/signup.js"></script>
