<div class="box" id="signin-box">
	<form>
		<span class="text-center"> Sign in </span>
    
    <div class="input-container">
    <label> Username </label>
    <br>
    <input type="username" id="username">
    </div>

	<div class="input-container">		
    <label> Password </label>
    <br>
     <input type="password" id="password">
    </div>

<button id="signinbtn"> Sign in </button>
</form>	
</div>

<script src="/assets/signin.js"></script>