<h1> LOG IN </h1>

<form>

<div> Username: </div> <input type="text" id="username">
<br>
<br>
<div> Password: </div> <input type="text" id="password">
<br>
<br> 

<button id="signinbtn"> LOG IN </button>

</form>

<script src="/assets/signin.js"></script>
