<h1> Create Account </h1>

<form>

<div> First name: </div> <input type="firstname" id="first-name">
<br>
<br>
<div> Last name: </div> <input type="lastname" id="last-name">
<br>
<br>
<div> Email: </div> <input type="email" id="email">
<br>
<br>
<div> Username: </div> <input type="username" id="username">
<br>
<br>
<div> Password: </div> <input type="password" id="password">
<br>
<br>
<div> Confirm password: </div> <input type="password" id="confirmpass">

<br>
<br> 

<button id="signupbtn"> Create new account </button>

<br>

</form>

<button id="signinbtn"> Log in </button>

<script src="/assets/signup.js"></script>
