
<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link" href="/createtrip"> Create Trip </a>    
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"> Upcoming Trips </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"> Past Trips </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/signin"> Account </a>
  </li>
</ul>

<br>
<form>

<h3> TRANSPORTATION </h3>
<div>What transportation will you be taking?</div>
<div>What day was this ride?</div>
<div>How much does the ride cost?</div>
<div>Would you like to add another form of transportation?</div>
<br>

<button id="add-to-trip-btn"> ADD TO TRIP </button>
<br>

</form>