h1{
    text-align: center;
}

form{
    text-align: center;
}

button{
    margin: 0 auto;
    display: block;
    border: none;
    background-color: white;
}

/* img{
    width: 200px;
} */

form{
    text-align: center;
}


.nav-link{
    color: black;
}

