h1{
    text-align: center;
    font-family: 'Inter', sans-serif;
    
}

h2{
    text-align: center;
    font-family: 'Inter', sans-serif;
}

h3{
    text-align: center;
    font-family: 'Inter', sans-serif;
}

form{
    text-align: center;
}

button{
    margin: 0 auto;
    display: block;
    border: none;
    background-color: white;
    font-family: 'Inter', sans-serif;
}

/* img{
    width: 200px;
} */

.nav-link{
    color: black;
}
