h1{
    text-align: center;
    font-family: 'Inter', sans-serif;
    
}

h2{
    text-align: center;
    font-family: 'Inter', sans-serif;
}

h3{
    /* text-align: center; */
    font-family: 'Inter', sans-serif;
}

form{
    text-align: center;
}

button{
    margin: 0 auto;
    display: block;
    border: none;
    background-color: white;
    font-family: 'Inter', sans-serif;
}

div{
    font-family: 'Inter', sans-serif;
}


.nav-link{
    color: black;
    font-family: 'Inter', sans-serif;
}

.nav{
 margin-top: 0%;
 float: right;
}

.forum{
 display: flexbox;
}